* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial;
}

.navigation {
    height: 80px;
    width: 100%;
    background-color: antiquewhite;
    display: inline-flex;
    /* dispaly inline-flex choose krne se logo and  account side me chale gye and funtion center me aa gya jab mai justify content ko space evenly choose kr lunga tb hi and is me ab mai apne marzi margin and padding v choose kr sakta hu . , jo ki mai display flex choose kr ke nahi kr sakta tha .  */
    justify-content: space-between;
    align-items: center;
}

.logo {
    background-image: url(logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
    margin-left: 60px;

}

.function {

    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4px;



}

.each {
    background-color: rgba(240, 255, 255, 0.406);
    height: 45px;
    width: 135px;
    font-size: 1.6rem;
    border-radius: 10px;
    color: gray;
    text-align: center;
    padding-top: 12px;
    margin-left: 3px;
    margin-right: 3px;
    




}

.account {
    height: 50px;
    width: 100px;
    background-color: rgba(200, 220, 240, 0.489);
    font-size: 1.4rem;
    margin-right: 50px;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    /* border: 2px solid rgb(235, 135, 135); */

}

main {
    background-color: rgba(238, 229, 229, 0.192);
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left {

    width: 50%;
    display: block;
    padding : 7%;
}

.left-bottom {
    font-size: 1.4rem;
    font-weight: 100;
    color: gray;
    margin-top: 5px;

}

.left-top {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 5px;
}
.color{
    color: blue;
}
.booking{
    background-color: rgba(31, 31, 247, 0.909);
    color: white;
    height: 10vh;
    width: 20vw;
    font-size: 1em;
    font-weight: 700;
    border-radius: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
.right{
    width: 50%;
    

}
img{
    height:470px;
}